.photoContainer {
  padding: 8% 8% 2% 8%;
  color: white;
}
.propertiesCard {
  width: 100%;
  height: 100vh;
  padding: 5%;
  background: #d4af37;
  color: black;
  border-radius: 15px;
  position: sticky;
  position: -webkit-sticky;
  top: 70px;
  box-shadow: 0 0 6px #000;
  color: #fff;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.divider {
  margin-top: 10px;
  height: 1px;
  width: 100%;
  color: white;
  background: white;
}

#sticky {
  position: sticky;
  position: -webkit-sticky;
  background: #f83d23;
  width: 100px;
  height: 100px;
  top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px #000;
  color: #fff;
}

#wrapper {
  width: 100%;
  margin: auto;
}
#wrapper {
  height: 100vh;
  width: 100%;
}

/* @media (min-height: 768px) {
  #wrapper {
    height: 2000px;
  }
} */
/* ******************************** */
.PriceBtn {
  padding: 3% 8%;
  background: #36454f;
  width: 20%;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  /* font-weight: 600; */
  margin-top: 2rem;
}
.price {
  padding-top: 1rem;
  font-size: 54px;
  font-weight: 600;
}
.ReqBtn {
  border: 2px solid #36454f;
  padding: 4% 8%;
  margin-top: 1rem;
  color: black;
  margin-top: 2rem;
  font-size: 18px;
  border-radius: 10px;
}

.ReqBtn:hover {
  border: 2px solid #36454f;
  color: white;
  background-color: #36454f;
  -webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}

/* flex justify-between gap-4 */
.propertiesContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

@media (max-width: 450px) {
  .propertiesContainer {
    flex-wrap: wrap;
  }
}
