.footerContainer {
  background: #d4af37;
  /* height: 300px; */
  width: 100%;
  padding: 3% 10% 5% 10%;
  /* display: flex;
  color
  justify-content: center; */
}
.title {
  font-size: 2rem;
  cursor: pointer;
  font-weight: 600;
}

.Subtitle {
  /* width: 50%; */
  line-height: 1.3rem;
  font-weight: 500;
  font-size: 18px;
  padding-top: 10px;
  cursor: pointer;
}

.Subtitle:hover {
  color: white;
}
.divider {
  margin-top: 10px;
  height: 1px;
  width: 100%;
  color: black;
  background: black;
}
